html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  font-size: 1rem;
  color: white;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}

h1 {
  color: white;
  font-size: 2rem;
}

.header {
  background-color: black;
}

.header img {
  height: 1.5rem;
  margin: 0.66rem 0.5rem;
}

.header h2 {
  margin: 0.66rem 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.banner {
  height: 25rem;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  padding-top: 9rem;
}

.text {
  width: 20rem;
  background-color: black;
  font-weight: bold;
  padding: 2rem 3rem;
}


nav {
  background-color: firebrick;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: white;
}

.featured {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.featured .item {
  text-align: center;
  width: 30%;
  border: 4px solid black;
}

.featured .item img {
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.featured .item .name {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.contact {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.contact .box {
  width: 35%;
  margin: 0;
}

.contact .box .small {
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer {
  height: 5rem;
  background-color: black;
}

.copyright {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .featured .item {
    width: 47%;
  }
  nav ul {
    display: none;
  }
  .content .box {
    width: 35%;
  }
}

@media only screen and (max-width: 470px) {
  .banner {
    height: 15rem;
  }
  .hero {
    padding-top: 10rem;
  }
  h1 {
    font-size: 1rem;
  }
  .text h2 {
    font-size: 0.77rem;
  }
  .text {
    padding: 1rem 2rem;
  }
  .featured .item {
    width: 90%;
  }
  .contact {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .contact .box {
    width: 90%;
    margin: 0;
  }
}
